// ----------------------------------------------------------- Templates
@mixin grid
  margin: 5px
  position: relative
  @media only screen and (min-width:650px)
    display: grid;
    grid-template-columns: 1fr 1fr;

@mixin bodyText($color, $size)
  font-size: $size
  font-family: 'chewy'
  color: $color

@mixin flex
  display: flex;
  flex-direction: column;
  justify-content: center;

@mixin directPositionSet($left, $top, $width, $height)
  left: $left
  top: $top
  width: $width
  height: $height

//Base template styling for sea-themed sections
.seaLayout
  @include bodyText($color: #e0edff, $size: 2vw)
  margin: 5px
  padding: 1rem
  margin-top: -1rem
  background: url("./assets/bubbles2.png"), linear-gradient( #92ceff, #4f8ed6, #2c71c0, #1d5faa)
  @media only screen and (max-width: 650px)
    font-size: 3vw
    background-size: 100%
  p
    background-color: #041c503f
    padding: 1rem
    border-radius: 1rem
    @media only screen and (max-width: 650px)
        font-size: 3vw
        padding: 0.5rem
  b
    color: #ffffda
  img
    animation: bob 2s ease-in-out both infinite
// ------------------------------------------------------------- Overall Styling
  body
  background-color: #f5d695
.App
  text-align: center
  font: 16px 'Arial', sans-serif
  @include flex
  flex-wrap: wrap;
  background-color: #f5d695
h1
  font-family: 'Modak'
  font-size: 4vw
  letter-spacing: 0.1vw;
  background: linear-gradient( #f3da86ff, #ffae00);
  -webkit-background-clip: text
  background-clip: text
  color: transparent
  -webkit-text-stroke: 0.1vw black;
  @media only screen and (max-width: 650px)
    font-size: 6vw
    -webkit-text-stroke: 0.1vw black;

//Base template for columns
.columns
  @include grid
  align-items: center
  h1
    grid-column: 1 / -1
  img
    justify-self: center
    margin-top: 2vw
    width: 30vw
    height: auto
    animation: bob 2s ease-in-out both infinite

// --------------------------------------------------------------- Title Section
.titleSection
  background: linear-gradient(#3f87da, #1f4174)
  margin: 5px
  align-items: center
  justify-content: center
  z-index: 1
  max-height: 64vw
  @media only screen and (max-width: 650px)
    max-height: 113vw
  @media only screen and (max-width: 300px)
    max-height: 120vw
  b
    color: #ebffbc

  //Arched Text
  .text
    margin-top: 3em
    flex-basis: 100%
    flex-direction: row
    position: relative
  .yellowFishTitle
    width: 50%
    height: auto
    @media only screen and (max-width: 650px)
      width: 100%
      height: auto

  //Fish
  .titleFish
    left: 50%
    width: 25%
    transform: translateY(-130%) translateX(80vw)
    @media only screen and (max-width: 650px)
      width: 50%
      height: auto

  // Button Styling
  button
    @include directPositionSet($left: 50%, $top: 50%, $width: 15vw, $height: 15vw)
    position: absolute
    font: 3vw "Modak", serif
    white-space: nowrap;
    display: inline-block
    background-color: #5aaaf5
    color: #0a3a81
    border: none
    transform: translate(-50%, -50%)
    border-radius: 50%
    @media only screen and (max-width: 650px)
      font-size: 6vw
      height: 29vw
      width: 29vw
  button:active
    background-color: #9bdaff
  button:hover
    background-color: #9bdaff

  //Cloud of fish
.titleSection .briefIntro
  flex-basis: 100%
  position: relative
  left: -100%
  img
    position: absolute
    display: grid;
    align-items: center;
    opacity: 0.4
    @include directPositionSet($left: 18vw, $top: -23vw, $width: 60vw, $height: 33vw)
    @media only screen and (max-width: 650px)
      @include directPositionSet($left: 3vw, $top: -45vw, $width: 90vw, $height: 50vw)
  p
    @include bodyText($color: #e0edff, $size: 2vw)
    @include directPositionSet($left: 30vw, $top: -18vw, $width: 40vw, $height: 32vw)
    position: absolute
    @media only screen and (max-width: 650px)
      font-size: 2.6vw
      @include directPositionSet($left: 21vw, $top: -33vw, $width: 60vw, $height: 32vw)

//Bubbles for the title
.bubbles
  position: relative
  width: 100%
  pointer-events: none
  top: -60vw
  opacity: 0.3

// --------------------------------------------------------------- Me Introduction Section
.introductionBanner
  margin: 5px
  padding-top: 1vw
  margin-top: -1rem
  z-index: 2
  background-image: url("./assets/cloud.png"), linear-gradient(#52c3f8, #52c3f8, #52c3f8,#f5d695, #f5d695)
  background-repeat: repeat-x
  background-size: 50%

  //Sea Lion positioning
  img
    width: auto
    height: 80%
    @media only screen and (max-width: 650px)
      width: 100%
      height: auto
    animation: rock 2s ease-in-out both infinite

//Brief Introduction text
.sandIntro
  @include bodyText($color: #42341e, $size: 2vw)
  position: relative
  top: -6vw
  margin: 5px
  padding: 6vw 3vw 2vw
  background-color: #f5d695
  @media only screen and (max-width: 650px)
    font-size: 3.2vw

//Parent element of columns
.introduction
  @include grid
  align-items: center
  margin-top: -8.8vw
  background: linear-gradient( #f5d695, #f5d695, #c78b31);
  b
    color: #853e69
  //Left-hand column
  .clipboard
    @include bodyText($color: #42341e, $size: 2vw)
    @include flex
    margin: 1rem
    background-image: url("./assets/paper.png")
    padding-left: 1rem
    padding-right: 1rem
    border: solid 2vw #814e31
    border-radius: 2vw
    @media only screen and (max-width: 650px)
      padding-top: 0
      padding-bottom: 0
      font-size: 3vw
  //Right-hand column
  .paper
    @include bodyText($color: #42341e, $size: 2.5vw)
    @include flex
    margin: 1rem
    min-height: 100%;
    //Smaller job listing details
    .card
      font-size: 1.5vw
      border-radius: 5%
      padding: 1rem
      margin: 1rem
      background-image: url("./assets/paper.png")
      display: block
      @media only screen and (max-width: 650px)
        padding: 0.5rem
        font-size: 2.5vw
        display: block
      //Placement icon
      img
        display: inline-block
        border-radius: 15%
        width: 7vw;
        @media only screen and (max-width: 650px)
          width: 10vw
      div
        display: block
        margin: 1rem
      ul
        @media only screen and (max-width: 650px)
          padding: 0

  // --------------------------------------------------------------- Why Hire Me Section
.whyMe
  @extend .columns
  @extend .seaLayout
  margin-top: -1rem
  background: url("./assets/bubbles2.png"), linear-gradient(#1d5faa, #195191, #0d335e)
  @media only screen and (max-width: 650px)
    background-size: 100%
  p
    padding: 2rem
    @media only screen and (max-width: 650px)
      padding: 0.5rem
  //Peeking Sea Lion
  img
    transform: rotate(-90deg)
    animation: peekingSeaLion 3s ease-in-out both infinite
    @media only screen and (max-width: 650px)
      animation: peekingSeaLionPortrait 3s ease-in-out both infinite

  // --------------------------------------------------------------- What Now Section
.whatNow
  @extend .columns
  @extend .seaLayout
  @include bodyText($color: #42341e, $size: 2vw)
  top: -1rem
  background-image: url("./assets/bubbles2.png"), linear-gradient(#0d335e, #16366c, #152348,#775f2d, #f5d695)
  div
    border: solid 0.2rem #b4a397
    background: url("./assets/paper.png")
  //Links to my email and Linked inlined
  .links
    display: inline
    border: none
    background: none
    img
      padding-left: 1rem
      padding-right: 1rem
      width: 20%
      animation: none
    @media only screen and (max-width: 650px)
      display: block

  // --------------------------------------------------------------- footer
footer
  @include bodyText($color: #42341e, $size: 1vw)
  padding: 0.5rem

@import ./fontsAnims
